html,body {
    margin: 0;
    padding: 0;
}
.external {
    /*background-color: red;*/
    width: 100%;
    padding: 20px;
    text-align:center;
}

.internal {
    /*background-color: green;*/
    height: 100hv;
    width: 40%;
    margin: 0 auto;
  }

  .internal-detail {
    /*background-color: green;*/

    max-height: 360px;
    height: 100hv;
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    overflow: scroll;
  }
.header-detail{
  width: 80%;
  text-align: left;
  margin: 0 auto;
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
}
  
 
  form{
      /*background: blue;*/
      width: 100%;
      border:1px solid #ccc;
      padding: 20px;
     
  }
  label{
      text-align: left;
      font-size: 14px;
      display: block;
      width: 100%;
  }
  input{
      margin-bottom: 20px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
  }

  input:focus{
    border: 1px solid #1668C4;
  }

  input[type="submit"] {
    margin-bottom: 0;
    background:#1668C4;
    color: #fff;
    border: none;
  }

  input[type="submit"]:hover {
      background: #4A88F4;
      cursor: pointer;
  }

 .div-actions{
    display: flex;
 }

 .div-actions .input-download{
    margin-right: 5px;
    background: #059e05e5;
    width: 80px;
 }

 .div-actions .input-delete{
    background: #d14444e5;
    width:80px;
 }

  table{
    width:100%;
      border: 1px solid #000;
      border-collapse: collapse;
  }

  table td{
    border:1px solid #ccc;
    padding: 10px;
  }


