<div class="header">
    <img src="assets/img/ico-camion.png" >
</div>
<div class="external">
    <div class="internal">
      <form [formGroup]="formGroup" (ngSubmit)="save(formGroup.value)">
          <label for="participantId">Cédula</label>
          <input type="text" formControlName='participantId'  maxlength="15"  id="participantId" 
           placeholder="Ingrese la cédula">

          <label for="file">Seleccione el archivo</label>
          <input  type="file" formControlName='file' id="file"  (change)="handleFileInput($event.target.files)"
           placeholder="Ingrese la cédula">

          <input type="submit" value="Enviar">

      </form>
    </div>
    
    <div class="header-detail" >
        Resultados
    </div>
    <div class="internal-detail">
        
        <table>
            <tr>
                <td>Cédula</td>
                <td>Traza</td>
                <td>Fecha de ejecución</td>
                <td>Opciones</td>
            </tr>            
            <tr *ngFor="let participant of participants">
                <td>{{participant.participantId}}</td>
                <td>{{participant.trace}}</td>
                <td>{{participant.createDate | date: 'dd/MM/yyyy  hh:mm' }}</td>
                <td style="width: 10px;">
                    <div class="div-actions">
                      <input class="input-download" (click)="download(participant.trace)" type="submit" value="Descargar">
                      <input class="input-delete" (click)="delete(participant)" type="submit" value="Eliminar">
                    </div>
                </td>
            </tr>
        </table>
      </div>
  </div>